<!DOCTYPE html>
<html>
<head>
    <title>Upload Notes</title>
</head>
<body>
    <h2>Upload Subject Notes</h2>

    <input type="file" id="file"><br><br>

    <button onclick="uploadFile()">Upload</button>

    <p id="result"></p>

    <script>
        function uploadFile() {
            const fileInput = document.getElementById("file");
            const file = fileInput.files[0];

            const formData = new FormData();
            formData.append("file", file);

            fetch("http://127.0.0.1:5000/upload", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("result").innerText = data.message;
            })
            .catch(error => console.log(error));
        }
    </script>
</body>
</html>
