<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Notes App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>📘 Smart Notes</h2>
    {% if session.get("user") %}
        <div>
            <a href="/upload">Upload</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    {% endif %}
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
