<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>🔐 Login</h2>

    <input type="email" id="email" placeholder="Enter Email">
    <input type="password" id="password" placeholder="Enter Password">

    <button onclick="loginUser()">Login</button>

    <p id="msg"></p>

<p>New user? <a href="/register">Register here</a></p>

</div>

<script>
function loginUser(){
    fetch("/login", {
        method: "POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({
            email: document.getElementById("email").value,
            password: document.getElementById("password").value
        })
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("msg").innerText = data.message;
        if(data.message === "Login successful"){
            window.location.href = "/upload";
        }
    });
}
</script>
</body>
</html>
